.mainDiv {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

.rooms {
  width: 10%;
}

.emptyRoom {
  width: 10%;
}

.input {
  display: flex;
  position: absolute;
  right: 0;
  text-align: left;
  width: 50%;
  height: 25px;
  margin-top: 10px;
  font-size: 8px;
  background-color: white;
  padding-top: 8px;
}
